
html {
    box-sizing: border-box;
    background: #ffc600;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
body {
    margin: 0;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

 *, *:before, *:after {
    box-sizing: inherit;
}
.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    box-shadow:inset 0 0 0 8px rgba(255,255,255,0.1);
    color:white;
    text-align: center;
    align-items:center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 28px;
    background-size:cover;
    background-position:center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.panel1 { background-image:url(../img/pina2.jpg); }
.panel2 { background-image:url(../img/pina.jpg); }
.panel3 { background-image:url(../img/pica2.jpg); }
.panel4 { background-image:url(../img/fruit.jpg); }
.panel5 { background-image:url(../img/pina.jpg); }

/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size:40px;
}
.button {
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    /* background-image: linear-gradient(to top, #0fd850 4%, #f9f047 100%); */
    background-image: linear-gradient(to top, #9be15d 0%, #3cba92 100%);
    border: none;
    color: white;
    padding: 8px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 220px;
}
